*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 60px;
    background-color: black;
    color: white;
}

.form{
    /* border: 10px solid #5BBCFF; */
    box-shadow: 3px 3px 10px 7px #5BBCFF;
    
    border-radius: 7px;
    height: 500px;
    width: 400px;
    margin-top: 15px;
    display: flex;
     
    align-items: center; 
    flex-direction: column;
    background-color: #021526;
}



input{
    width: 200px;
    height: 20px;
    margin-top: 25px;
    border-radius: 4px;
    border: 0.5px solid transparent;
}
input:hover{
    box-shadow: 3px 4px 6px #00A9FF;
}

button{
    width: 90px;
    height: 25px;
    border-radius: 4px;
    border-color: transparent;
    position:relative ;
   top: 150px;
   font-size: 16px;
   
}

button:hover{
    background-color: #06D001;
    box-shadow: 4px 4px 7px #9BEC00;
    
}